h1 {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

form {
    margin:5% auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 0.5em;
}

div+div {
    margin-top: 1em;
}

/*label span {*/
/*    display: inline-block;*/
/*    width: 120px;*/
/*    text-align: right;*/
/*}*/

input, textarea{
    font: 1em sans-serif;
    width: 250px;
    /*height: 20px;*/
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
}


input[type=checkbox], input[type=radio] {
     width: auto;
     border: none;
 }

select{
    font: 1em sans-serif;
    width: 250px;
    height:35px ;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
}

/*input:focus, textarea:focus {*/
/*    border-color: #000;*/
/*}*/

/*textarea {*/
/*    vertical-align: top;*/
/*    height: 5em;*/
/*    resize: vertical;*/
/*}*/

/*!*fieldset {*!*/
/*!*    width: 250px;*!*/
/*!*    box-sizing: border-box;*!*/
/*!*    margin-left: 136px;*!*/
/*!*    border: 1px solid #999;*!*/
/*!*}*!*/

/*button {*/
/*    margin: 20px 0 0 124px;*/
/*}*/

/*!*label {*!*/
/*!*    position: relative;*!*/
/*!*}*!*/

/*!*label em {*!*/
/*!*    position: absolute;*!*/
/*!*    right: 5px;*!*/
/*!*    top: 20px;*!*/
/*!*}*!*/