/*@media (min-width: 768px) {*/
/*    .field-label-responsive {*/
/*        padding-top: .5rem;*/
/*        text-align: right;*/
/*    }*/
/*}*/
h1 {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 2.5em;
    color: #F28705;
    display: block;
}

.card-title {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 2.5em;
    color: #F28705;
    display: block;
}

.card-footer {
    background-color: #F28705;
}

nav {
    background-color: #ffffff;
    text-decoration: none;
    margin-bottom: 5px;
}

a {
    color: #f2f2f2;
!important;
}

.card-img {
    width: 50%;
    height: 25vw;
    object-fit: cover;
}

body {
    background-color: #f2f2f2;
}

#module {
    font-size: 1rem;
    line-height: 1.5;
}

#module #collapseExample.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
}

#module #collapseExample.collapsing {
    height: 3rem
}

#module a.collapsed:after {
    content: '+ Show More';
}

#module a:not(.collapsed):after {
    content: '- Show Less';
}

#pagination {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

#pagination.active {
    background-color: #f28705;
    color: white;
    border: 1px solid #f28705;
}

#pagination:hover:not(.active) {
    background-color: #ddd;
}

#pagination-nav {
    background-color: #ffffff !important;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0 !important;

}


/*#abv{*/
/*    font-family: 'Ma Shan Zheng', cursive;*/
/*    font-size: 1.5em;*/
/*    color: #9a5105;*/
/*}*/