<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>

    <title>Create new Beer</title>

    <style>
        @media(min-width: 768px) {
            .field-label-responsive {
                padding-top: .5rem;
                text-align: right;
            }
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <a class="navbar-brand" href="#">BeerTag </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/beers">All Beers</a>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div class="container mx-auto w-75 ">
    <h2>Create your beer below</h2>
    <hr>
    <form action="#" th:action="@{/beers/new}" th:object="${beer}" method="post" enctype="multipart/form-data">
        <i th:if="${error != null}" th:text="${error}" class="error" style="color: red"></i>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="beer_name">Beer Name</label>
                <input type="text" class="form-control" aria-describedby="BeerNameHelpBlock" id="beer_name"
                       placeholder="Beer Name" th:field="${beer.name}"
                       minlength="2" maxlength="20">
                <small id="BeerNameHelpBlock" class="form-text text-muted">
                    Beer name must be between 2 and 20 characters long!
                </small>
            </div>
            <div class="form-group col-md-6">
                <label for="beer_description">Beer Description</label>
                <input type="text" class="form-control" aria-describedby="BeerDescriptionHelpBlock" id="beer_description" placeholder="Beer Description"
                       th:field="${beer.description}" minlength="10" maxlength="150">
                <small id="BeerDescriptionHelpBlock" class="form-text text-muted">
                    Beer description must be between 10 and 50 characters long!
                </small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="brewery">Select Brewery</label>
                <select class="form-control" id="brewery" th:field="*{breweryId}">
                    <option th:each="brewery : ${breweries}"
                            th:value="${brewery.id}"
                            th:text="${brewery.name}">Select Brewery
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="style">Select Style</label>
                <select class="form-control" id="style" th:field="*{styleId}">
                    <option th:each="style : ${styles}"
                            th:value="${style.id}"
                            th:text="${style.name}">Select Style
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="beer_abv">Beer ABV</label>
            <input type="number" step="0.10" min="0.00" max="100.00" class="form-control" aria-describedby="BeerAbvHelpBlock" id="beer_abv" placeholder="Beer ABV"
                   th:field="${beer.abv}">
            <small id="BeerAbvHelpBlock" class="form-text text-muted">
                Beer ABV must be float number starting from 0.10!
            </small>
        </div>
        <div class="form-group">
            <label for="beer_tags">Select Beer Tag/s</label>
            <select multiple class="form-control" id="beer_tags" th:field="*{tags}">
                <option th:each="tag : ${tags}"
                        th:value="${tag.tagId}"
                        th:text="${tag.name}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="beer_photo">Beer Photo</label>
            <input type="file" class="form-control-file" id="beer_photo" placeholder="Beer Photo"
                   name="beerPicture">
        </div>
        <button th:type="submit" class="btn btn-primary">Create Beer</button>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>