<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>

<body><h2>Change password</h2>
<form th:action="@{/user/updatePassword}" onSubmit="return checkPassword(this)" method="post">
    <label>Old password:</label>
    <input type="password" id="oldPassword" name="oldPassword"/>
    <br/>
    <label>New password:</label>
    <input type="password" id="newPassword" name="newPassword" pattern=".{8,}" required
           title="Password must be at least 8 characters"/>
    <br/>
    <label>Confirm password:</label>
    <input type="password" id="passwordConfirm" name="passwordConfirm" pattern=".{8,}" required
           title="Password must be at least 8 characters"/>
    <br/>
    <i th:if="${error}" th:text="${error}" style="color: red"></i>
    <br/>
    <input type="submit" value="Change Password"/>
</form>

<script>
    function checkPassword(form) {
        const newPassword = document.getElementById("newPassword");
        const oldPassword = document.getElementById("passwordConfirm");

        if (newPassword.value !== oldPassword.value) {
            alert("\nPassword did not match: Please try again...")
            return false;
        }
    }
</script>
</body>
</html>
