<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Settings</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>


<style>
    h1, h2, h3, label, input, p {
        font-family: sans-serif;
        color: #202020;
    }

    .center {
        position: absolute;
        top: 10%;
        left: 20%;
        right: 20%;
        margin-bottom: 10%;
    }

    .left {
        float: left;
        margin-left: 30%;
        justify-content: left;
    }

    .right {
        float: right;
        margin-right: 30%;
        justify-content: right;
    }

    /*.bottom {*/
    /*    clear: both;*/
    /*    margin-left: 5%;*/
    /*    margin-right: 5%;*/
    /*}*/
</style>

<div class="center">
    <h2>Profile Settings</h2>
    <h3>Personal Information</h3>
    <hr>
    <!--    <form name="personalInf" th:action="@{/user/updateProfile}" method="post">-->
    <!--        <i th:if="${success}" th:text="${success}" style="color: green"></i>-->
    <!--        </br>-->
    <!--        <div class="left">-->
    <!--            <label>First name: </label>-->
    <!--            </br></br>-->
    <!--            <label>Last name: </label>-->
    <!--            </br></br>-->
    <!--            <label>Email: </label>-->
    <!--            </br>-->
    <!--        </div>-->
    <!--        <div class="right">-->
    <!--            <input name="firstName" th:value="${user.getFirstName()}" required pattern=".{2,}"-->
    <!--                   title="First name must be at least 2 characters"/>-->
    <!--            </br></br>-->
    <!--            <input name="lastName" th:value="${user.getLastName()}" required pattern=".{2,}"-->
    <!--                   title="Last name must be at least 2 characters"/>-->
    <!--            </br></br>-->
    <!--            <input name="email" th:value="${user.getEmail()}" required-->
    <!--                   pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"-->
    <!--                   title="Must be valid email"/>-->
    <!--            </br></br>-->
    <!--        </div>-->
    <!--        <div class="bottom">-->
    <!--            <i th:if="${error}" th:text="${error}" style="color: red"></i>-->
    <!--            </br>-->
    <!--            <input type="submit" value="Update Profile"/>-->
    <!--        </div>-->


    <form name="PersonalInfo" th:action="@{/user/updateProfile}" method="post">
        <i th:if="${success}" th:text="${success}" style="color: green"></i>
        <div class="form-group">
            <label for="FirstName">First name</label>
            <input type="email" class="form-control" id="FirstName" th:value="${user.getFirstName()}" required
                   pattern=".{2,}"
                   title="First name must be at least 2 characters" aria-describedby="emailHelp"
                   placeholder="Enter your First name">
            <small id="firstHelp" class="form-text text-muted">We'll never share your information with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="LastName">Last name</label>
            <input type="email" class="form-control" id="LastName" th:value="${user.getLastName()}" required
                   pattern=".{2,}"
                   title="Last name must be at least 2 characters" aria-describedby="emailHelp"
                   placeholder="Enter your First name">
            <small id="lastHelp" class="form-text text-muted">We'll never share your information with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" th:value="${user.getEmail()}" required
                   pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                   title="Must be valid email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary"><i th:if="${error}" th:text="${error}" style="color: red"></i>Update Profile</button>
    </form>

    </br>
    <h3>Change Password</h3>
    <hr>

    <form name="PasswordUpdate" th:action="@{/user/updatePassword}" onSubmit="return checkPassword(this)" method="post">
        <i th:if="${passChangeSuccess}" th:text="${passChangeSuccess}" style="color: green"></i>
        <div class="form-group">
            <label for="oldPassword">Old password</label>
            <input type="password" class="form-control" id="oldPassword" name="oldPassword" required
                   pattern=".{2,}"
                   title="Password must be at least 8 characters" aria-describedby="PasswordOld"
                   placeholder="Enter your old password">
            <small id="PasswordOld" class="form-text text-muted">We'll never share your information with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword"  required
                   pattern=".{2,}"
                   title="Password must be at least 8 characters" aria-describedby="newPass"
                   placeholder="Enter your new password">
            <small id="newPass" class="form-text text-muted">We'll never share your information with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="passwordConfirm">Confirm password</label>
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"  required
                   pattern=".{8,}"
                   title="Password must be at least 8 characters" aria-describedby="ConfirmPass" placeholder="Confirm password">
            <small id="confirmPass" class="form-text text-muted">We'll never share your information with anyone
                else.</small>
        </div>
<!--        <button type="submit" class="btn btn-primary"><i th:if="${passError}" th:text="${passError}"style="color: red"></i>-->
<!--            <br/>-->
<!--            <input type="submit" value="Change Password"/></button>-->
        <button type="submit" class="btn btn-primary"><i th:if="${passError}" th:text="${passError}" style="color: red"></i>
            Change Password</button>
    </form>


    </form>

<!--    <form name="passwordUpdate" th:action="@{/user/updatePassword}" onSubmit="return checkPassword(this)" method="post">-->
<!--        <i th:if="${passChangeSuccess}" th:text="${passChangeSuccess}" style="color: green"></i>-->
<!--        </br>-->
<!--        <div class="left">-->
<!--            <label>Old password:</label>-->
<!--            </br></br>-->
<!--            <label>New password:</label>-->
<!--            </br></br>-->
<!--            <label>Confirm password:</label>-->
<!--            </br>-->
<!--        </div>-->
<!--        <div class="right">-->
<!--            <input type="password" id="oldPassword" name="oldPassword"/>-->
<!--            <br/></br>-->
<!--            <input type="password" id="newPassword" name="newPassword" pattern=".{8,}" required-->
<!--                   title="Password must be at least 8 characters"/>-->
<!--            <br/></br>-->
<!--            <input type="password" id="passwordConfirm" name="passwordConfirm" pattern=".{8,}" required-->
<!--                   title="Password must be at least 8 characters"/>-->
<!--            <br/>-->
<!--        </div>-->
<!--        <div class="bottom">-->
<!--            <i th:if="${passError}" th:text="${passError}" style="color: red"></i>-->
<!--            <br/>-->
<!--            <input type="submit" value="Change Password"/>-->
<!--        </div>-->
<!--    </form>-->
    </br>
    <h3>Delete Account</h3>
    <hr>
    <div class="bottom">
        <p>If you decide to delete your account, all of information, including check-ins, toasts, and comments will be
            removed permanently.</p>
        <form name="deleteAccount" th:action="@{/user/deleteProfile}">
            <button class="btn btn-outline-danger" type="submit" value="Delete Account">Delete Account</button>
        </form>
    </div>
</div>

<script>
    function checkPassword(form) {
        const newPassword = document.getElementById("newPassword");
        const oldPassword = document.getElementById("passwordConfirm");

        if (newPassword.value !== oldPassword.value) {
            alert("\nPassword did not match: Please try again...")
            return false;
        }
    }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>