<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


    <title>Edit Beer</title>

    <style>
        .custom-file {
            max-width: 100% !important
        }
    </style>

</head>
<body>

<!-- Edit beer Modal -->

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" th:placeholder="${beer.getName()}"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <div class="container mx-auto w-100 ">
                    <h2>Edit Beer</h2>
                    <hr>
                    <form th:action="@{/beers/edit/{id}(id=${beer.id})}" th:object="${beer}" th:method="post" enctype="multipart/form-data">
                        <div class="form-group">
                                <label for="beer_description">Beer Description</label>
                                <textarea class="form-control" rows="3" aria-describedby="BeerDescriptionHelpBlock" id="beer_description" placeholder="Beer Description"
                                          th:field="${beer.description}" minlength="10" maxlength="150"></textarea>
                                <small id="BeerDescriptionHelpBlock" class="form-text text-muted">
                                    Beer description must be between 10 and 50 characters long!
                                </small>
                            </div>
                        <div class="form-group">
                            <label for="beer_abv">Beer ABV</label>
                            <input type="number" step="0.10" min="0.00" max="100.00" class="form-control" aria-describedby="BeerAbvHelpBlock" id="beer_abv" placeholder="Beer ABV"
                                   th:field="${beer.abv}">
                            <small id="BeerAbvHelpBlock" class="form-text text-muted">
                                Beer ABV must be float number starting from 0.10!
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="beer_tags">Select Beer Tag/s</label>
                            <select multiple class="form-control" id="beer_tags" th:field="*{tags}">
                                <option th:each="tag : ${tags}"
                                        th:value="${tag.tagId}"
                                        th:text="${tag.name}">
                                </option>
                            </select>
                        </div>

                        <div class="custom-file">
                            <label for="customFile">Beer Photo</label>
                            <input type="file" class="custom-file-input" id="customFile" name="beerPicture">
                            <label class="custom-file-label" for="customFile">Upload new Beer Photo</label>
                        </div>
                        <button th:type="submit" class="btn btn-primary w-100">Update Beer</button>
                    </form>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
            </div>

</body>
</html>