<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${errorCode}+' '+${errorMsg}"></title>
</head>

<style>
    .bottom-right {
        position: absolute;
        bottom: 0%;
        left: 0%;
    }

    h1, h2, h3 {
        font-family: sans-serif;
        color: #202020;
    }

    h1 {
        font-size: 48px;
    }

    a {
        font-family: sans-serif;
    }
</style>
<body>
<div class="bottom-right">
    <img src="/images/Error.png" height="100%" width="100%"/></div>
</div>
<div style="margin: 8% 10% 25% 50%;">
    <h1>We are sorry, something went wrong.</h1>
    <hr>
    <h2 th:text="'Error code: '+${errorCode}+' '+${errorMsg}"></h2>
    <h3>The page you requested could not be found. It might have been moved or removed,
        or you may have mistyped the URL.
    </h3>
    <h3>Maybe you were looking for one of the following places:</h3>
    <a href="">Home Page</a>
    </br>
    <a href="/login">Login</a>
</div>
</body>
</html>