<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>BeerTag</title>
    <meta http-equiv="Refresh" content="0; url=/beers" />
</head>
<body>
<!--<h1>Beer Tag</h1>-->
<!--<p>-->
<!--    User: <span sec:authentication="name"></span>-->
<!--    <br/>-->
<!--    Role(s): <span sec:authentication="principal.authorities"></span>-->
<!--</p>-->

<!--<p sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--    <a th:href="@{/admin}">Admin Portal</a>-->
<!--</p>-->
<!--<p>Please follow <a href="/beers">this link</a>.</p>-->
<!--<form th:action="@{/logout}" method="post">-->
<!--    <input type="submit" value="Logout"/>-->
<!--</form>-->
</body>
</html>