<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>



    <title>Rate this Beer</title>

    <style>
        .rating {
            display:inline-block;
        }

        /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
           follow these rules. Every browser that supports :checked also supports :not(), so
           it doesn’t make the test unnecessarily selective */
        .rating:not(:checked) > input {
            position: absolute;
            /* top: -9999px; */
            clip: rect(0, 0, 0, 0);
            height: 0;
            width: 0;
            overflow: hidden;
            opacity: 0;
        }

        .rating:not(:checked) > label {
            float:right;
            width:1em;
            padding:0 .1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:200%;
            line-height:1.2;
            color:#ddd;
            text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
        }

        .rating:not(:checked) > label:before {
            content: '★ ';
        }

        .rating > input:checked ~ label {
            color: #f70;
            text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
        }

        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: gold;
            text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
        }

        .rating > input:checked + label:hover,
        .rating > input:checked + label:hover ~ label,
        .rating > input:checked ~ label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > label:hover ~ input:checked ~ label {
            color: #ea0;
            text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
        }

        .rating > label:active {
            position:relative;
            top:2px;
            left:2px;
        }
    </style>

</head>
<body>

<!-- Edit beer Modal -->

<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title" th:placeholder="${beer.getName()}"></h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">

    <div class="container mx-auto w-100 ">
        <h2>Give your rating</h2>
        <hr>
        <form th:with="rateBeer = ${'/beers/rate/' + beer.getId()}"
                th:action="${rateBeer}" th:object="${newRating}" th:method="post">
            <div class="form-group">
                <h5 th:text="${beer.name}"></h5>
            </div>

            <div class="form-group" id="rating-ability-wrapper">
                <label class="control-label" for="rating2">
                    <span class="field-label-header">How would you rate this beer based on your experience?*</span><br>
                    <span class="field-label-info"></span>
                    <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                </label>
                <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" th:field="*{rating}" /><label for="star5" title="Rocks!">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" th:field="*{rating}"/><label for="star4" title="Pretty good">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" th:field="*{rating}" /><label for="star3" title="Meh">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" th:field="*{rating}"/><label for="star2" title="Kinda bad">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" th:field="*{rating}"/><label for="star1" title="Sucks big time">1 star</label>
                </fieldset>
    </div>

            <button th:type="submit" class="btn btn-primary w-100">Rate Beer</button>
        </form>
    </div>

</div>

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
</div>


<script>

    // jQuery(document).ready(function($){
    //
    //     $(".btnrating").on('click',(function(e) {
    //
    //         var previous_value = $("#selected_rating").val();
    //
    //         var selected_value = $(this).attr("data-attr");
    //         $("#selected_rating").val(selected_value);
    //
    //         $(".selected-rating").empty();
    //         $(".selected-rating").html(selected_value);
    //
    //         for (i = 1; i <= selected_value; ++i) {
    //             $("#rating-star-"+i).toggleClass('btn-warning');
    //             $("#rating-star-"+i).toggleClass('btn-default');
    //         }
    //
    //         for (ix = 1; ix <= previous_value; ++ix) {
    //             $("#rating-star-"+ix).toggleClass('btn-warning');
    //             $("#rating-star-"+ix).toggleClass('btn-default');
    //         }
    //
    //     }));
    //
    //
    // });
</script>


</body>
</html>