<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Styles</title>
</head>
<body>
<div class="table">
    <div class="header"> All styles we have at the moment</div>
    <div class="row" th:each="style : ${styles}">
        <h2>Style</h2>
        <div class="cell" th:text="${style.name}">Beer</div>
    </div>
</div>
</body>
</html>