<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <base href="/">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{css/login.css}" media="all" type="text/css">
    <title>User Registration</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body text-center">
                    <img class="rounded mx-auto d-block" src="images/logo-clean.png" width="240" height="240" alt="...">
                    <form class="form-signin" role="form" method="POST" action="/register" th:action="@{/register}"
                          th:object="${user}" onSubmit="return checkPassword(this)">
                        <h5 class="card-title text-center">New Registration</h5>
                        <i th:if="${error != null}" th:text="${error}" class="error" style="color: red"></i>
                        <div class="form-label-group">
                            <input type="text" name="firstName" class="form-control" id="firstName"
                                   placeholder="First Name" required autofocus th:field="${user.firstName}">
                            <label for="firstName"><i class="fa fa-user"></i> First Name</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" name="lastName" class="form-control" id="lastName"
                                   placeholder="Last Name" required autofocus th:field="${user.lastName}">
                            <label for="lastName"><i class="fa fa-user"></i> Last Name</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" name="username" class="form-control" id="username"
                                   placeholder="Username" required autofocus th:field="${user.username}">
                            <label for="username"><i class="fa fa-user"></i> Username</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" name="email" class="form-control" id="email"
                                   placeholder="you@example.com" required autofocus
                                   th:field="${user.email}">
                            <label for="email"><i class="fa fa-at"></i> E-Mail Address</label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="Password"
                                   pattern=".{8,}" title="Password must be at least 8 characters"
                                   required th:field="${user.password}">
                            <label for="password"><i class="fa fa-key"></i> Password</label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" name="password-confirmation" class="form-control"
                                   id="password-confirm" placeholder="Password" pattern=".{8,}"
                                   title="Password must be at least 8 characters" required
                                   th:field="${user.matchingPassword}">
                            <label for="password-confirm"><i class="fa fa-repeat"></i> Confirm Password</label>
                        </div>
                        <div class="col-md-9 mx-auto">
                        <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase"><i
                                class="fa fa-user-plus"></i> Register
                        </button>
                        <hr class="my-4">
                        <a class="btn btn-lg btn-google btn-block text-uppercase" id="register-btn" href="/login"><i
                                class="fa fa-sign-in mr-2"></i> LOGIN </a>
                        <a class="btn btn-lg btn-facebook btn-block text-uppercase" id="browse-btn" href="/beers"><i
                                class="fa fa-beer mr-xl-4"></i>BROWSE BEERS</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    function checkPassword(form) {
        const password1 = document.getElementById("password");
        const password2 = document.getElementById("password-confirm");

        if (password1.value !== password2.value) {
            alert("\nPassword did not match: Please try again...")
            return false;
        }
    }
</script>
</body>
</html>