<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <base href="/">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{css/login.css}" media="all" type="text/css">
    <title>User Log In</title>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body text-center">
                    <img class="rounded mx-auto d-block" src="images/logo-clean.png" width="240" height="240" alt="...">
                    <h5 class="card-title text-center">Sign In</h5>
                    <i th:if="${param.error}" style="color: red">
                        Wrong username or password
                    </i>
                    <i th:if="${param.logout}">
                        You have been logged out.
                    </i>
                    <i th:if="${param.success}" style="color: #318007">
                        Registration successful. Please Login
                    </i>
                    <i th:if="${param.deleted}" style="color: red">
                        Your account was successfully deleted!
                    </i>
                    <form class="form-signin" role="form" method="POST" action="/register"  th:action="@{/authenticate}">
                        <div class="form-label-group">
                            <input type="text" name="username" id="username" class="form-control" placeholder="Email address" required autofocus>
                            <label for="username">Username</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        <hr class="my-4">
                        <a  class="btn btn-lg btn-google btn-block text-uppercase" id="register-btn" href="/register"><i class="fa fa-sign-in mr-2"></i> REGISTER </a>
                        <a class="btn btn-lg btn-facebook btn-block text-uppercase" id="browse-btn" href="/beers"><i class="fa fa-beer mr-xl-4"></i> BROWSE BEERS</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>